@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');


* {
  font-family: "Readex Pro", serif;
}


.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 70px auto;
  grid-template-rows: 100vh;
}

.Sidebar {
  background-color: #4a90e2;
  height: 100vh;
  overflow: hidden;
}

.Dashboard {
  display: grid;
  height: 100vh;
  background-color: white;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: start;
  height: 110px;
}

.header img {
  padding-top: 50px;
  padding-left: 50px;
  height: 50px;
  width: auto;
}

.content {
  margin: 110px 20px 60px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.left-column {
  display: grid;
  grid-template-rows: 1fr 5fr;
  gap: 20px;
  height: 100vh;
}

.top-row {
  border-radius: 5px;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.top-row-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.bottom-row {
  border-radius: 5px;
  display: grid;
  grid-template-rows: 1fr  1fr;
}

.right-column {
  border-radius: 5px;
  display: grid;
  grid-template-rows: 50px 2fr 10fr;
}

button {
  color: #4a90e2;
  border: 1px solid #4a90e2;
  height: 45px;
  box-sizing: border-box;
  width: 120px;
  border-radius: 50px;
  text-align: center;
}

.addAssignment {
  border-bottom: 1px solid #d1d5db;
  padding-bottom: 10px;
}

.top-row-title, .getting-started {
  font-weight: bold;
  font-size: 1.5em;
  display: inline;
}

.top-row-button {
  display: inline;
  margin-left: 50px;
}

.Youtube-video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.Youtube-video iframe {
  width: 100%;
  max-width: 560px; 
  height: 315px;
  border-radius: 10px;
}

.Youtube-video-description {
  text-align: left;
}

.Assignment-buttons {
  margin-top: 10px;
  border-bottom: 1px solid #d1d5db;
}

.Assignment-buttons button{
  margin: 10px;
}

.top-row, .bottom-row, .right-column {
  border: 1px solid #d1d5db;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  background: white;
}

.top-row:hover, .bottom-row:hover, .right-column:hover {
  border: 1px solid #d1d5db;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  background: white;
}


.save-button, .add-button {
  margin-left: 15px;
}